{% load tz %}
<div style="font-family: 'Inter', sans-serif;"
     hx-get="{% url 'station_popup_partial' station.id %}"
     hx-trigger="every 30s"
     hx-swap="outerHTML">
    <b style="font-size: 1rem;">{{ station.name }}</b><br>
    <span style="color: var(--gray);">
        Dernier relevé : 
        {% if latest %}
            {{ latest.timestamp|date:"d/m/Y H:i" }}
        {% else %}
            N/A
        {% endif %}
    </span><br>
    <div style="margin-top: 5px; font-weight: 700; color: {% if latest and latest.iqa %}{% if latest.iqa <= 50 %}#10b981{% elif latest.iqa <= 100 %}#f59e0b{% elif latest.iqa <= 150 %}#f97316{% else %}#ef4444{% endif %}{% else %}#94a3b8{% endif %}">
        IQA actuel : {{ latest.iqa|default:"Inconnu" }}
    </div>
    <small style="color: #64748b;">
        Source: 
        {% if latest %}
            {{ latest.get_source_type_display }}
        {% else %}
            Aucune
        {% endif %}
    </small>
</div>
