{% load tz %}
<div style="font-family: 'Inter', sans-serif;" hx-get="{% url 'station_popup_partial' station.id %}" hx-trigger="every 30s" hx-swap="outerHTML">
    <b style="font-size: 1rem;">{{ station.name }}</b><br>
    <span style="color: #64748b;">
        Dernier relevé : 
        {% if latest %}
            {{ latest.timestamp|date:"d/m/Y H:i" }}
        {% else %}
            N/A
        {% endif %}
    </span><br>
    {% if latest and latest.iqa %}
        {% if latest.iqa <= 50 %}
            <div style="margin-top: 5px; font-weight: 700; color: #10b981;">
                IQA actuel : {{ latest.iqa }}
            </div>
        {% elif latest.iqa <= 100 %}
            <div style="margin-top: 5px; font-weight: 700; color: #f59e0b;">
                IQA actuel : {{ latest.iqa }}
            </div>
        {% elif latest.iqa <= 150 %}
            <div style="margin-top: 5px; font-weight: 700; color: #f97316;">
                IQA actuel : {{ latest.iqa }}
            </div>
        {% else %}
            <div style="margin-top: 5px; font-weight: 700; color: #ef4444;">
                IQA actuel : {{ latest.iqa }}
            </div>
        {% endif %}
    {% else %}
        <div style="margin-top: 5px; font-weight: 700; color: #94a3b8;">
            IQA actuel : Inconnu
        </div>
    {% endif %}
    <small style="color: #64748b;">
        Source: 
        {% if latest %}
            {{ latest.get_source_type_display }}
        {% else %}
            Aucune
        {% endif %}
    </small>
</div>
